* {
    font-family: 'Roboto', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}
.slider-caption {
    padding-top: 100px;
    max-width: 655px;
}
.slider_caption_marginbottom_20{
    margin-bottom: 20px;
}
.slider_caption_title{
    text-decoration:none;
    color:#ffffff;
    font-size:3.5rem;
    line-height:3rem;
    font-weight:700;
}
.slider_caption_subtitle{
    color:#07f1fa;
    font-size:2.5rem;
    line-height:3rem;
    margin:3% 0;
}
.slider_caption_list_12{
    font-size:1.2rem;
    color:#ffffff; 
    margin:4% 0 8% 4%;
    line-height: 1.8rem;
}
.slider_caption_list_15{
    font-size:1.5rem;
    color:#ffffff; 
    margin:4% 0 8% 4%;
    line-height: 1.8rem;
}
.slider_caption_image_height_135{
    height: 135px;
}
.slider_caption_image_height_85{
    height: 85px;
}
.slider_caption_image_height_50{
    height: 50px;
}
.button_detail_margin{
    margin-top: 6%;
}
@media (width <= 992px) {
    .slider-caption {
        padding-top: 0;
    }
}
@media (height <= 844px) {
    .slider_caption_marginbottom_20{
        margin-bottom: 10px;
    }
    .slider_caption_title{
        font-size:2.8rem;
        line-height:2.4rem;
    }
    .slider_caption_subtitle{
        font-size:2rem;
        line-height:2.4rem;
        margin:2% 0;
    }
    .slider_caption_list_12{
        font-size:1.2rem;
        color:#ffffff; 
        margin:3% 0 3% 3%;
        line-height: 1.8rem;
    }
    .slider_caption_list_15{
        font-size:1.5rem;
        color:#ffffff; 
        margin:3% 0 3% 3%;
        line-height: 1.8rem;
    }
    .slider_caption_image_height_135{
        height: 85px;
    }
    .slider_caption_image_height_85{
        height: 50px;
    }
    .slider_caption_image_height_50{
        height: 35px;
    }
    .button_detail_margin{
        margin-top: 3%;
    }
    .button.button-large {
        padding: 6px 8px 6px 20px;
        font-size: .8rem;
        line-height: 24px;
    }
}
  