ErrorDocument 404 /404.htm
RewriteEngine on
RewriteRule ^([^./]+)/?$ $1.php [L]
RewriteRule ^(.*)\.html$ $1.php [NC]

#強制轉https
RewriteEngine on
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

Options All -Indexes
Require ip 10 172 127.0.0.1
